.g-sidenav-hidden {
    .main-logo{
        display: none;
    }
    .small-logo{
        display: block !important;
    }
    .navbar-vertical{
        &:hover{
            .main-logo{
                display: block;
            }
            .small-logo{
                display: none !important;
            }
        }
    }
    
}


.rtl{
    [class*='me-']{
        margin-right: 0 !important;
    }
    .ms-1 {
        margin-right: 0.25rem!important;
    }
    .ms-2 {
        margin-right: 0.5rem!important;
    }
    .ms-3 {
        margin-right: 1rem!important;
    }
    .ms-4 {
        margin-right: 1.5rem!important;
    }
    .ms-5 {
        margin-right: 3rem!important;
    }
    .ms-md-auto{
        margin-left:  0 !important;
    }
    .me-md-auto{
        margin-right:  0 !important;
    }
    .navbar-vertical{
        margin-left: 0 !important;
        &.navbar-expand-xs{
            &.fixed-start {
                right: 0;
                left: auto;
                ~.main-content {
                    margin-right: 17.125rem;
                    margin-left: 0;
                }
            }
            .navbar-nav {
                .nav {
                    .nav-link{
                        padding-left: 0;
                        padding-right: 15px;
                    }
                }
            }
        }
        .navbar-nav {
            .nav-link[data-bs-toggle=collapse]{
                &:after{
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }
    &.g-sidenav-hidden {
        .navbar-vertical{
            .nav-item {
                .collapse {
                    .nav {
                        padding: 0 !important;
                        margin: 0 !important;
                        .nav-item {
                            .nav-link{
                                @media (min-width: 1200px){
                                    margin-right: 1rem;
                                }
                                .sidenav-mini-icon{
                                    margin-left: 0;
                                    margin-right: 0.15rem;
                                }
                            }
                        }
                    }
                }
            }
            &:hover{
                .nav-item {
                    .collapse {
                        .nav {
                            margin-inline: 1.5rem!important;
                            padding-inline: 1rem!important;
                        }
                    }
                }
            }
        }
    }
    &.g-sidenav-show.g-sidenav-pinned {
        .navbar {
            .sidenav-toggler-inner{
                .sidenav-toggler-line{
                    &:first-child, &:last-child{
                        transform: translateX(-5px);
                    }
                }
            }
        }
    }
    .navbar-main{
        .navbar-nav{
            .nav-item{
                span{
                    padding-right: 0 !important;
                }
            }
        }
    }
    .dropdown {
        .dropdown-menu{
            top: 0;
            &.dropdown-menu-end {
                left: 0!important;
                right: auto!important;
                &:before {
                    left: 28px;
                    right: auto;
                }
            }
        }
    }   
}